@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.mine{
    // border: solid black;
    // height: 40vmax;
    position: fixed;
    top:6.6vmax;
    left: 0;
    right: 0;
    padding: 1vmax;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;


    span{
        color: #3b5bb1;
    }

}